# URL de conexão com o banco de dados (Ex: Neon, PostgreSQL local ou Render)
DATABASE_URL="postgresql://usuario:senha@host:port/nome_do_banco?sslmode=require"

# Chave secreta para assinar o Access Token (15 min)
JWT_SECRET="sua_chave_secreta_aqui"

# Chave secreta para assinar o Refresh Token (7 dias)
JWT_REFRESH_SECRET="outra_chave_secreta_aqui"

# URL do seu Frontend (para configurar o CORS)
# Local: http://localhost:5173 | Produção: https://seu-app.onrender.com
FRONTEND_URL="http://localhost:5173"

# Porta onde o servidor vai rodar
PORT=3001